# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Vector Database
vector_store/

# Uploaded Files
uploads/

# VS Code Settings
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db